###################################
# 🧠 IDE / EDITORS
###################################

# VSCode
.vscode/
*.code-workspace

# CLion
.idea/

# Vim / Nano
*.swp
*.swo

###################################
# 🐧 Linux
###################################

*~
*.log
.cache/

###################################
# 🤖 ROS2 (colcon)
###################################

build/
install/
log/

###################################
# ⚙️ C / C++
###################################

*.o
*.a
*.so
*.out
*.exe
*.d
*.gcno
*.gcda

###################################
# 🛠 CMake
###################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

###################################
# 🔌 Arduino
###################################

*.hex
*.elf
*.bin

###################################
# 🗃 Databases / Temp
###################################

*.db
*.sqlite
*.sqlite3

###################################
# 🐍 Python (por si usas scripts ROS)
###################################

__pycache__/
*.pyc
*.pyo

###################################
# 📦 Misc
###################################

.DS_Store
Thumbs.db
